<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149155137712-g7ij3c374u72u3io6ase3d9ccqgsmmdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149155137712-g7ij3c374u72u3io6ase3d9ccqgsmmdd</string>
	<key>API_KEY</key>
	<string>AIzaSyDAMzDxIzKL6jzASu-tbFr4wTuEupX_M9A</string>
	<key>GCM_SENDER_ID</key>
	<string>149155137712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anstagram</string>
	<key>PROJECT_ID</key>
	<string>test-project-89404</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-89404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149155137712:ios:b1944c8c06928b70f55375</string>
	<key>DATABASE_URL</key>
	<string>https://test-project-89404-default-rtdb.firebaseio.com</string>
</dict>
</plist>